<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>가천대학교 강의실예약시스템</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicons -->
    <link rel="shortcut icon" href="images/shortcut-icon.jpg">


    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/plugins.css">
    <link rel="stylesheet" href="css/style.css">

    <!-- Cusom css -->
    <link rel="stylesheet" href="css/custom.css">

    <!-- Modernizer js -->
    <script src="js/vendor/modernizr-3.5.0.min.js"></script>
</head>

<body>
    <!--[if lte IE 9]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
	<![endif]-->

    <!-- Add your site or application content here -->

    <!-- <div class="fakeloader"></div> -->


   
   
   
   
   
   
   
   
   
   
   
    <!-- Main wrapper -->
    <div class="wrapper" id="wrapper">
        <!-- Start Header Area -->
        <header class="htc__header bg--white">
            <!-- Start Mainmenu Area -->
            <div id="sticky-header-with-topbar" class="mainmenu__wrap sticky__header">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2 col-sm-22 col-md-15 order-1 order-lg-1">
                            <div class="logo">
                                <a href="/">
                                    <img src="images/logo/logo.png" alt="logo images">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-9 col-sm-4 col-md-2 order-3 order-lg-2">
                            <div class="main__menu__wrap">
                                <nav class="main__menu__nav d-none d-lg-block">
                                    <ul class="mainmenu">
                                        <li class="drop"><a href="/">홈</a></li>

                                        <li class="drop"><a href="/menu-list">예약하기</a>
                                            <ul class="dropdown__menu">
                                                <li><a href="/menu-list">강의동 조회</a></li>
                                                <li><a href="/menu-details">강의실 조회</a></li>
                                            </ul>
                                        </li>

                                        <li><a href="/contact">문의하기&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</a></li>
                                        <% if (user) { %>
                                        <li><a href="/logout">로그아웃</a></li>
                                        <li><a href="/mypage">
                                                <%= user.nickname %>페이지(
                                                <%= user.id %>님) </a></li>


                                        <% } else { %>
                                        <li><a href="/my-account">로그인</a></li>
                                        <li><a href="#">회원전용 페이지</a></li>
                                        <% } %>

                                    </ul>
                                </nav>

                            </div>
                        </div>



                    </div>

                    <!-- Mobile Menu -->
                    <div class="mobile-menu d-block d-lg-none"></div>
                    <!-- Mobile Menu -->
                </div>
            </div>
            <!-- End Mainmenu Area -->
        </header>
        <!-- End Header Area -->

       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
        <!-- Start Service Area -->
        <section class="fd__service__area bg-image--2 section-padding--xlg">
            <div class="container" >
                
                    
                    
                      <div class="col-md-6 col-lg-4 col-sm-12 foo">
                        <div class="blog">
                            <div class="blog__thumb">
                                
                            </div>
                            <div class="blog__details bg--white">
                                <h2>환영합니다!</h2>
                                <span>가천대학교 강의실 예약시스템입니다.</span>
                                <p>원하시는 날짜와 시간에 맞는 강의실을<br>예약하신 후 사용하실 수 있습니다.</p>
                                <div class="blog__btn">
                                    <a class="food__btn btn--green theme--hover" href="/menu-list">예약하기</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
           
        </section>
        <!-- End Service Area -->
      
                   
        
        
        
        
        
        

        
       
        <!-- Start Footer Area -->
        <footer class="footer__area footer--1">
            <div class="footer__wrapper bg__cat--1 section-padding--lg">
                <div class="container">
                    <div class="row">
                   <div class="col-md-7 col-sm-4 col-xs-6">
                        <div class="single-footer mt-0">
                            <div class="logo">
                                <img src="images/logo/logo.png" alt="">
                                <br><br>
                            </div>
                            <div class="f-adress">
                                <p><span>글로벌 캠퍼스 :</span> (13120) 경기도 성남시 수정구 성남대로 1342<br>
                                <span>메디컬 캠퍼스 :</span> (21936) 인천광역시 연수구 함박뫼로 191</p>
                            </div>
                            <div class="hotel-contact">
                                <p><span>글로벌 캠퍼스 : </span> 031-750-5114 <br>
                                <span>메디컬 캠퍼스 : </span> 032-820-4000</p>
                                
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="col-md-3 hidden-sm col-xs-6">
                        <div class="single-footer">
                           <h3>바로가기</h3>
                           <div class="quick-item">
                                <ul>
                                   <li><a href="http://gachon.ac.kr/main.jsp">가천대학교 홈페이지</a></li>
                                   <li><a href="http://gachon.ac.kr/community/opencampus/03.jsp?boardType_seq=358">가천대학교 공지사항</a></li>
                                   <li><a href="http://203.249.126.126:9090/servlets/jsp/timetable/frame.jsp">시간표 확인</a></li>
                                   
                                </ul>
                           </div>
                        </div>
                    </div>
                   
                     <div class="copyright ptb-20 white_bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-15 col-sm-15 col-xs-12">
                        <p>Copyright© 가천대 강의실 예약 시스템 2019.All right reserved.</p>
                    </div>
                        
                    </div>
                </div>
            </div>
                </div>
            </div>
        </div>
        
       
        </footer>
        <!-- End Footer Area -->
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
    </div><!-- //Main wrapper -->

    <!-- JS Files -->
    <script src="js/vendor/jquery-3.2.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/active.js"></script>
</body>

</html>
